
# Cache e compilati Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# Ambienti virtuali locali
.venv/
venv/
env/

# Tool di sistema
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Ambiente
.env